/* AboutUs.css */


.about-us-container {
    width: 70%;
    margin: 0 auto; /* Center-align the container */
    text-align: justify; /* Align text to the left within the container */
    padding: 20px; /* Add padding for better readability */
}

h2{
    text-align: center;
}
